<a href="https://colab.research.google.com/github/silvanaDaza/INTELIGENCIA-ARTIFICIAL---ULEAM/blob/main/Jueves_24_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [ ]:
numero=5
tmp1="Silvana"
print(numero)
print(f"mi nombre es: {tmp1}")
print(numero+5)
print(numero-3)
print(numero*3)
print(numero/3)
print(numero%3)
print(numero**3)
numero*=2
print(numero)
print(type(numero))

5
mi nombre es: Silvana
10
2
15
1.6666666666666667
2
125
10
<class 'int'>

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
#print(t!=f)

<class 'bool'>
False
True
False

In [ ]:
aux1='hello'
aux2='world'
print(aux1+aux2)
print(aux1*4)
print(aux1.capitalize())
print(aux1.upper())
aux3='SILVANA'
print(aux3.lower())

helloworld
hellohellohellohello
Hello
HELLO
silvana

In [ ]:
aux2=list()
aux2.append(4)
aux2.append("silvana")
aux2.append(True)
print(aux2)
print(aux2[1])
print(aux2[-1])
#print(aux2[-2])
print('**************')
aux2[1]='laura'
print(aux2)
aux3=[1,2,3,'laura',True,False]
print(aux3)
aux3.pop()
print(aux3)

[4, 'silvana', True]
silvana
True
**************
[4, 'laura', True]
[1, 2, 3, 'laura', True, False]
[1, 2, 3, 'laura', True]

In [ ]:
temp1=list(range(100))
for x in temp1:
    print(f"El valor es: {x}")

El valor es: 0
El valor es: 1
El valor es: 2
El valor es: 3
El valor es: 4
El valor es: 5
El valor es: 6
El valor es: 7
El valor es: 8
El valor es: 9
El valor es: 10
El valor es: 11
El valor es: 12
El valor es: 13
El valor es: 14
El valor es: 15
El valor es: 16
El valor es: 17
El valor es: 18
El valor es: 19
El valor es: 20
El valor es: 21
El valor es: 22
El valor es: 23
El valor es: 24
El valor es: 25
El valor es: 26
El valor es: 27
El valor es: 28
El valor es: 29
El valor es: 30
El valor es: 31
El valor es: 32
El valor es: 33
El valor es: 34
El valor es: 35
El valor es: 36
El valor es: 37
El valor es: 38
El valor es: 39
El valor es: 40
El valor es: 41
El valor es: 42
El valor es: 43
El valor es: 44
El valor es: 45
El valor es: 46
El valor es: 47
El valor es: 48
El valor es: 49
El valor es: 50
El valor es: 51
El valor es: 52
El valor es: 53
El valor es: 54
El valor es: 55
El valor es: 56
El valor es: 57
El valor es: 58
El valor es: 59
El valor es: 60
El valor es: 61
El valor es: 62
El valor es: 63
El valor es: 64
El valor es: 65
El valor es: 66
El valor es: 67
El valor es: 68
El valor es: 69
El valor es: 70
El valor es: 71
El valor es: 72
El valor es: 73
El valor es: 74
El valor es: 75
El valor es: 76
El valor es: 77
El valor es: 78
El valor es: 79
El valor es: 80
El valor es: 81
El valor es: 82
El valor es: 83
El valor es: 84
El valor es: 85
El valor es: 86
El valor es: 87
El valor es: 88
El valor es: 89
El valor es: 90
El valor es: 91
El valor es: 92
El valor es: 93
El valor es: 94
El valor es: 95
El valor es: 96
El valor es: 97
El valor es: 98
El valor es: 99

In [ ]:
listaAnimales=list()
listaAnimales.append('monkey')
listaAnimales.append('donkey')
listaAnimales.append('mouse')
listaAnimales.append('cocodrile')
listaAnimales.append('rommel')
print(listaAnimales)
tmp1=listaAnimales[:3]
print("Animales %s "%(tmp1))

temp2=listaAnimales[2:]
print("Animales %s "%(temp2))

temp3=listaAnimales[2:4]
print("Animales %s "%(temp3))

listaAnimales[2:4]=['bear','cow']
print(listaAnimales)

['monkey', 'donkey', 'mouse', 'cocodrile', 'rommel']
Animales ['monkey', 'donkey', 'mouse']
Animales ['mouse', 'cocodrile', 'rommel']
Animales ['mouse', 'cocodrile']
['monkey', 'donkey', 'bear', 'cow', 'rommel']

In [ ]:
for numero, animal in enumerate(listaAnimales):
    print('%d: %s'%(numero+1, animal))

1: monkey
2: donkey
3: bear
4: cow
5: rommel

In [ ]:
listaNum=list(range(20))
print(listaNum)
listaNumcuadrado=list()
for numero in listaNum:
    listaNumcuadrado.append(numero**2)
print(listaNumcuadrado)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
listaCuadrados=[i**2 for i in listaNum]
print(listaCuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [ ]:
listaimpares=[i for i in listaNum if i%2==1]
print(listaimpares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
listaPares=[i for i in listaNum if i%2==0]
print(listaPares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
myDictionary={'perro':'bonito','gato':'peludo', 'iguana':'verde'}
print(myDictionary)

{'perro': 'bonito', 'gato': 'peludo', 'iguana': 'verde'}

In [ ]:
for key in myDictionary:
    print(myDictionary[key])

bonito
peludo
verde

In [ ]:
dictiCuadrado={'1':1,'2':4,'3':9,'4':16}
print(dictiCuadrado)

dictCuadrado={i:i**2 for i in listaNum}
print(dictCuadrado)

{'1': 1, '2': 4, '3': 9, '4': 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [ ]:
setElemento={'perro','gato','iguana'}
print(setElemento)

{'gato', 'perro', 'iguana'}

In [ ]:
print('gallina' in setElemento)
setElemento.add('elefante')
print(setElemento)
#setElemento.remove('iguana')
print(setElemento)
print(len(setElemento))

False
{'gato', 'perro', 'elefante'}
{'gato', 'perro', 'elefante'}
3

FUNCIONES

In [ ]:
def suma(a,b):
    return a+b

tmp1=5
tmp2=9
print('la suma de los dos valores es igual: ',suma(tmp1,tmp2))

la suma de los dos valores es igual:  14

In [ ]:
listaNumeros=[-1, -4 ,0,1]
def evaluacionSigno(tmp):
    if tmp>0:
        return 'positivo'
    elif tmp<0:
        return 'negativo'
    else:
        return 'cero'

for cadaNumero in listaNumeros:
    print(evaluacionSigno(cadaNumero))

negativo
negativo
cero
positivo

In [ ]:
class saludos(object):
  def __init__(self,nombre):
    self.nombre=nombre
    #print('se ejecuta automasticamente')
  def mensaje(self): # Indentation corrected to include this method within the class
    print('hola',self.nombre)

name1=saludos('silvana')

name1.mensaje()

hola silvana

In [ ]:
class numero(object):
  def __init__(self,numero1, numero2):
    self.numero1=numero1
    self.numero2=numero2
  def suma(self):
    return self.numero1+self.numero2

problema1=numero(22,44)
print(problema1.suma())

66